:root {
    --var-body-bg: #242b30;
    --var-body-fc: #f0f2f3;
    --var-menu-fc: #fc4773;
    --var-menu-fc2: #bd284c;
    --var-menu-bg: rgba(255, 255, 255, 0.2);
    --var-button: #f0eeee;
    --var-body-fc-invert: #0b1016;
}

@media (prefers-color-scheme: light) {
    :root {
        --var-body-bg: #f2f6fc;
        --var-body-fc: #0b1016;
        --var-menu-fc: #ba0d37;
        --var-menu-fc2: #bd284c;
        --var-menu-bg: rgba(20, 20, 20, 0.2);
        --var-button: #1A1A1A;
        --var-body-fc-invert: #f0f2f3;
    }
}
.firstFile {
    font-family: Montserrat;
    color: var(--var-body-fc);
    text-decoration: none;
    padding-top: 3%;
    font-size: 18px;
}
* {
    margin: 0px;
    padding: 0px;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
user agent stylesheet
center {
    text-align: -webkit-center;
}
:root {
    --var-body-bg: #242b30;
    --var-body-fc: #f0f2f3;
    --var-menu-fc: #fc4773;
    --var-menu-fc2: #bd284c;
    --var-menu-bg: rgba(255, 255, 255, 0.2);
    --var-button: #f0eeee;
    --var-body-fc-invert: #0b1016;
}
::selection {
    color: var(--var-body-fc);
    background: var(--var-menu-bg);
}
.otherFile {
    font-family: Montserrat;
    color: var(--var-body-fc);
    text-decoration: none;
    padding-top: 1px;
    font-size: 18px;
}
* {
    margin: 0px;
    padding: 0px;
}
* {
    margin: 0;
    padding: 0;
}
user agent stylesheet
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
user agent stylesheet
center {
    text-align: -webkit-center;
}
:root {
    --var-body-bg: #242b30;
    --var-body-fc: #f0f2f3;
    --var-menu-fc: #fc4773;
    --var-menu-fc2: #bd284c;
    --var-menu-bg: rgba(255, 255, 255, 0.2);
    --var-button: #f0eeee;
    --var-body-fc-invert: #0b1016;
}
::selection {
    color: var(--var-body-fc);
    background: var(--var-menu-bg);
}